
/* ==================== Root Variables ==================== */

:root {
    --dark-pink: hsl(0, 50%, 69%);
    --light-pink: hsl(0, 83%, 91%);
    --dark-gray: hsl(0, 0%, 43%);
    --light-gray: hsl(0, 0%, 80%);
}

/* ==================== Universal Styling ========== */
/* ==================== Overall & Positioning ========== */

html {
    font-family: 'Josefin Slab', sans-serif;
    color: var(--dark-gray);
}

body {
    background-image: url(../images/Doggone-Banner.png);
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    height: 100%;
}

.container {
    padding: 5rem 3% 8rem;
    margin-bottom: 25vh;
    border-top: solid var(--light-gray);
    border-bottom: solid var(--light-gray);
    text-align: center;
}

article.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* ==================== Universal Font Styling ==================== */

.chalk {
    color: var(--dark-pink);
}

h2 {
    font-size: 5rem;
    text-align: center;
    padding-bottom: 2rem;
}

h3 {
    font-size: 2.5rem;
    padding-bottom: 1rem;
}

p {
    font-size: 1.5rem;
}

/* ==================== Figure Styling ==================== */

figure {
   border: solid hsl(0, 0%, 80%);
   margin: 1rem;
}

figure img  {
    border-bottom: solid hsl(0, 0%, 80%);
    transition: all 0.3s;
}
figure img:hover {
    cursor: pointer;
    border-bottom: none;
    transform: scale(1.15);
}

figcaption h3 {
    padding: 0 1rem;
    font-size: 2rem;
    clear: right;
}

.att {
    position: relative;
    float: right;
    bottom: 1.75rem;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    color: white;
    background-color: hsla(0, 0%, 0%, 0.5);
}

.att-link a {
    font-size: 1rem;
}

figcaption p {
    padding: 0 1rem 2rem;
}

/* ==================== Header Styles ==================== */

header {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    width: 100%;
    height: 5rem;
    background-color: white;
    border-bottom: solid thin var(--light-gray);
}

.logo {
    height: 4rem;
    margin: 0.5rem 3rem;
}

nav ul {
    display: flex;
}

nav li+li {
    padding-left: 4rem;
}

a {
    font-size: 1.5rem;
    border-bottom: solid thin var(--light-gray);
}

a:hover {
    color: var(--dark-pink);
    border-bottom: none;
}

/* ==================== Main Content Styles ==================== */

section.top-buffer {
    height: 100vh;
}

/* ==================== About Styles ==================== */

section#about {
    background-color: white;
}

article.info-cta {
    display: flex;
    justify-content: space-evenly;
}

section.about-us {
    width: 40%;
}

/* ==================== Services ==================== */

section#services {
    background-color: var(--light-pink);
}

figure.service {
    max-width: 24.25rem;
    text-align: left;
    background-color:white;
}

figure.service img {
    height: 55%;
}

/* ==================== Staff Members ==================== */

section#staff {
    background-color: white;
}

figure.member {
    max-width: 25.75rem;
    background-color: var(--light-pink);
}

/* ==================== Contact ==================== */

section#contact {
    padding: 5rem 3%;
    border-top: solid var(--light-gray);
    border-bottom: solid var(--light-gray);
    text-align: center;
    background-color: var(--light-pink);
}

article.contact-cta {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-cta {
    display: flex;
}

.button-cta a {
    border: none;
}

.button {
    padding: 0.5rem;
    margin: 1rem;
    font-size: 1.5rem;
    border-radius: 10px;
    background-color: var(--dark-pink);
    color: white;
    transition: 0.25s ease;
}

.button:hover {
    border: solid 0.15rem var(--dark-pink);
    background-color: white;
    color: var(--dark-pink);
}

/* ==================== Footer ==================== */

footer {
    background-color: white;
    border-top: solid var(--light-gray);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16vh;
}

footer p {
    font-size: 1rem;
    font-weight: 600;
}

footer div {
    padding: 1rem;
}

.left {
    display: flex;
    align-items: center;
}

.left p {
    margin-right: 0.5rem;
}

.right a {
    font-size: 1rem;
}

/* ==================== Media Queries ==================== */

@media only screen and (max-width: 1400px) {
    h2 {
        font-size: 3.5rem;
    }

    .contact-cta h3 {
        font-size: 2.25rem;
    }

    section#about {
        padding: 5rem 0 8rem;
    }

    section.about-us {
        width: 50%;
        margin: 2rem;
    }
}

@media only screen and (max-width: 1080px) {
    article.info-cta {
        flex-direction: column;
        align-items: center;
    }

    section.about-us {
        width: 80%;
    }
}

@media only screen and (max-width: 768px) {
    body {
        background-image: url('../images/Doggone-Banner-sm.png');
    }

    a {
        font-size: 1rem;
        font-weight: bold;
    }

    h3 {
        font-size: 2rem;
    }

    p {
        font-size: 1.25rem;
        font-weight: 400;
    }
}